<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow rounded-4" style="width:360px">

    <h4 class="text-center mb-3">Forgot Password</h4>

    <!-- STEP 1: EMAIL -->
    <div *ngIf="step === 'email'">
      <input
        type="email"
        class="form-control rounded-pill mb-3"
        placeholder="Enter registered email"
        [(ngModel)]="email"
      />

      <button class="btn btn-primary w-100 rounded-pill" (click)="sendOtp()">
        Send OTP
      </button>
    </div>

    <!-- STEP 2: OTP + NEW PASSWORD -->
    <div *ngIf="step === 'verify'">
      <input
        type="text"
        class="form-control rounded-pill mb-3"
        placeholder="Enter OTP"
        [(ngModel)]="otp"
      />

      <input
        type="password"
        class="form-control rounded-pill mb-3"
        placeholder="New Password"
        [(ngModel)]="newPassword"
      />

      <button class="btn btn-success w-100 rounded-pill" (click)="verifyOtpAndReset()">
        Reset Password
      </button>
    </div>

    <div class="text-center mt-3">
      <small><a routerLink="/">Back to Login</a></small>
    </div>

  </div>
</div>
