<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow rounded-4" style="width: 350px;">
    <h3 class="text-center mb-4">Login</h3>

    <div class="mb-3">
      <input [(ngModel)]="email" type="email" class="form-control form-control-lg rounded-pill" placeholder="Email" required>
    </div>

    <div class="mb-3">
      <input [(ngModel)]="password" type="password" class="form-control form-control-lg rounded-pill" placeholder="Password" required>
    </div>

    <button class="btn btn-primary btn-lg w-100 rounded-pill" (click)="login()">Login</button>

    <div class="text-center mt-2">
      <small>
        Forgot password? <a routerLink="/forgot">Click here</a>
      </small>
    </div>

    <div class="text-center mt-3">
      <small>Don't have an account? <a routerLink="/signup">Signup</a></small>
    </div>
  </div>
</div>
